<% if @mission.status = 1 %>
	<% form_for @mission do |f| %>
		<table>
		<%= hidden_field_tag :rate_mission, true %>

		<tr>
			<td><%= f.text_field :comment %></td>
		</tr>

		<tr>
			<td><%= radio_button :mission, :rating, -1 %></td>
			<td><%= radio_button :mission, :rating, 1 %></td>
		</tr>

		<tr><td><%= f.submit "rate messenger."%></td></tr>

		</table>
	<% end %>
<% end %>
