<p>
	Messenger: <%= @mission.messenger.name %>	
</p>
<p>
	Customer: <%= @mission.customer.name %>	
</p>
<p>
	Status: <%= to_status( @mission.status ) %>	
</p>

<% if @mission.status == 0 %>
<%= link_to_remote "complete mission!",
 							:url	=>	{   :controller		=>	'missions',
														:action				=>	'update',
														:id						=>	@mission.id,
														:complete_mission	=>  true },
							:method	  => 'put' %>
<% elsif @mission.status == 2 %>
	<p>Comments: <%= @mission.comment %></p>
	<p>
		<% if @mission.rating == -1 %>
			<%= image_tag("thumbsdown.gif")%>
		<% elsif @mission.rating == 1 %>
			<%= image_tag("thumbsup.gif")%>
		<% end %>
	</p>
<% end %>

