<% form_for @messenger, :html => { :multipart => true, :class => 'form' } do |f|%>
	<table>
	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
	<td><%= f.label :handle %></td>
	<td><%= f.text_field :handle %></td>
	</tr>
	
	<tr>
	<td><%= f.label :bio %></td>
	<td><%= f.text_area :bio %></td>
	</tr>
	
	<tr>
	<td><%= f.label :rate %></td>
	<td><%= f.text_field :rate %></td>
	</tr>	
	<tr>
		<td><%= f.file_field :avatar %></td>
	</tr>
	<tr><td><%= f.submit "update"%></td></tr>

<% end %>