<% form_for [@user,@messenger] , :html => { :class => 'form' } do |f|%>
	<table>

	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name %></td>
	</tr>

	<tr>
		<td><%= f.label :handle %></td>
		<td><%= f.text_field :handle %></td>
	</tr>

	<tr>
		<td valign=top><%= f.label :bio %></td>
		<td><%= f.text_area :bio , :size => "26x10"%></td>
	</tr>

	<tr>
		<td><%= f.label :rate %></td>
		<td><%= f.text_field :rate %></td>
	</tr>

	<tr><td><%= f.submit "create"%></td></tr>

	</table>
<% end %>