	<div class="thirdlong">
	<h4><%= @messenger.name + "."%></h4>
	<%= image_tag @messenger.avatar.url,:size => "100x140", :style => "float:left; margin:0px 5px 5px 5px;border:0;"%>

	<p>
		<ul>
			<li>Rating</li>
			<li>Territory</li>
			<li>Delivery Rate</li>
		</ul>
	<%= link_to "Book this messenger.", new_customer_url( :id => @messenger.id )%>
	<br /><br /><br /><br />
	</p>
	</div><!--/div-->

	
	<div class="thirdlong">
	<p>
	<%= @messenger.bio %>
	</p>
	</div><!--/div-->
	<br /><br />
<div class="review">
<span class="reviewtitle"><strong>This dude rocks.</strong>  by Reviewer Person.<br /></span>
<p>
`Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
</p>
</div>						

<% if current_user == @messenger.user %>

	<% if @messenger.around? %>
	<%= button_to_remote "check out",
	 							:url	=>	{   :controller		=>	'messengers',
															:action				=>	'update',
															:id						=>	@messenger.id,
															:checking_in	=>  false },
								:method	  => 'put' %>
		
	<% else %>
		<p> you are currently checked out. To get some work, </p>
		<%= button_to_remote "check in",
		 							:url	=>	{   :controller		=>	'messengers',
																:action				=>	'update',
																:id						=>	@messenger.id,
																:checking_in	=>  true },
									:method	  => 'put' %>
	<% end %>
	<p>
		<%= link_to "update your profile.", edit_messenger_path %>
	</p>
	<ul>
		<% @messenger.missions.each do |mission|%>
			<%= link_to mission.created_at.to_date.to_s + " -- " + mission.customer.name.to_s + " -- " + to_status( mission.status ), mission %>
		<% end %>
	</ul>
<% end %>