	<div class="thirdlong">
	<h4><%= @messenger.name + "."%></h4>
	<%= image_tag @messenger.avatar.url,:size => "100x140", :style => "float:left; margin:0px 5px 5px 5px;border:0;"%>

	<p>
		<table>
			<tr><td><strong>Neighborhood</strong></td><td><%= @messenger.neighborhood %></td></tr>
			<tr><td><strong>Rate</strong></td><td><%= @messenger.rate %></td></tr>
			<tr><td><strong>Completed Missions</strong></td><td><%= @messenger.missions.count %></td></tr>
		</table>

	<%= link_to "Hire this messenger.", new_customer_url( :id => @messenger.id )%>
	<br /><br /><br /><br />
	</p>
	</div><!--/div-->

	
	<div class="thirdlong">
	<p>
	<%= @messenger.bio %>
	</p>
	</div><!--/div-->
	<br /><br />
<div class="review">
<span class="reviewtitle"><strong>This dude rocks.</strong>  by Reviewer Person.<br /></span>
<p>
`Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
</p>
</div>						

<% if current_user == @messenger.user %>
	<div id="messenger_dashboard">
	<%= render :partial => 'messenger_dashboard', :locals => { :messenger => @messenger }%>		
	</div><!--end messenger_dashboard-->
<% end %>